<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include ('header.ejs') %>
    <main>
        <%console.log(task); %>
        <ul>
            <li>
                <h4><%= task.title %></h4>
                <p><%= task.description %></p>
                <p><%= task.contact %></p>
                <p><%= task.status %></p>
                <p><%= task.category %></p>

            </li>
        </ul>
    </main>


</body>

</html>